/* Global Styles  */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Button Styles  */

.btn-primary {
    padding: 20px 45px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    background-color: #E55473;
    border: 0px;
}

/* Hero Section  */

.header-container {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 100px;
}

.hero-title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;

}

.hero-desc {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}

/* Feature Section  */

.feature-section {
    width: 80%;
    margin: auto;
}

.feature-info {
    text-align: center;
    padding: 50px;
}

.feature-img {
    display: flex;
    justify-content: space-around;
}

.img-bg {
    width: 350px;
}

.img-bg a{
    text-align: center;
    display: block;
}

.bg-img-radius {
    border-radius: 300px 300px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    vertical-align: center;
    margin-right: 20px;
    background: #A7216226;
    height: 370px;
}

.img-bg a {
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

.support-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 30px;
    margin: 200px 350px;
}
.support-item {
    padding: 50px;
}
.service-desc {
    text-align: center;
    font-weight: 600;
    line-height: 35px;
}